---
http_interactions:
- request:
    method: post
    uri: https://sandbox.fundamerica.com/api/investments
    body:
      encoding: UTF-8
      string: amount=5000&entity[city]=Las%20Vegas&entity[country]=US&entity[date_of_birth]=1980-01-01&entity[email]=investor1567585506%40test.com&entity[name]=Investor%201567585506&entity[phone]=17025551212&entity[postal_code]=89123&entity[region]=NV&entity[street_address_1]=555%20Some%20St&entity[tax_id_number]=000000000&equity_share_count=10&offering_id=AflShkTFRm6neTWJe6UXcA&payment_method=wire
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"db349ea1e42b0b0553e4739246122d2b"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"investment","id":"p0ETg1xzSwuCEZJeGd_AgQ","url":"https://sandbox.fundamerica.com/api/investments/p0ETg1xzSwuCEZJeGd_AgQ","offering_url":"https://sandbox.fundamerica.com/api/offerings/AflShkTFRm6neTWJe6UXcA","administration_fee":"0.0","aml_check_investor":true,"aml_exception":false,"amount":"5000.0","amount_in_escrow":"0.0","amount_received":"0.0","amount_refunded":"0.0","background_check_url":null,"bank_reference":"FATFAJ","brokerage_fee":"0.0","ceremonial_certificate_url":null,"check_mailing_address":"Prime
        Trust\n10890 S Eastern Ave\nSuite 114\nHenderson, NV 89502","check_mailing_instructions":"Please
        make checks payable to \"Prime Trust as Escrow Agent for Offering 1565081501\"
        and include a note with your name, phone number, email address, and investor
        ID (FATFAJ) in case we have any questions.","cleared":false,"clearing_failures":["funds_not_cleared"],"commission_fee":"0.0","concession_fee":"0.0","confirm_accreditation":false,"created_at":"2019-09-04T08:25:07.120Z","data":{},"debt_face_value":null,"debt_par_value":"10.0","disbursed_at":null,"entity_url":"https://sandbox.fundamerica.com/api/entities/Mcy8PtrrTIKsZdBDpMJ6mw","equity_share_count":"10.0","equity_share_price":"500.0","face_value":null,"financial_adviser_name":null,"financial_advisor_name":null,"funds_disbursable":0,"funds_transfer_method":"wire","in_escrow_at":null,"investor_url":"https://sandbox.fundamerica.com/api/investors/w27VwQKhTRyjzWof0pCkJQ","par_value":"10.0","payment_method":"wire","payment_reference":"FATFAJ","promo_code":null,"referrer":null,"refunded_at":null,"remittance_details":{"bank_address":"One
        East Washington Street\nPhoenix AZ 85004","bank_name":"Western Alliance Bank","bank_phone":"1
        (602) 629-1776","routing_number":"122105980","swift_code":"BBFXUS6S","account_number":"00015738912","beneficiary_name":"Prime
        Trust as Escrow Agent for Offering 1565081501","beneficiary_address":"10890
        S Eastern Ave\nSuite 114\nHenderson, NV 89502","reference":"FATFAJ"},"review_trade":false,"status":"not_received","subscription_agreement_url":null,"trade_review_status":null,"trade_review_url":null,"unit_count":"10.0","updated_at":"2019-09-04T08:25:07.120Z","wire_details":{"bank_address":"One
        East Washington Street\nPhoenix AZ 85004","bank_name":"Western Alliance Bank","bank_phone":"1
        (602) 629-1776","routing_number":"122105980","swift_code":"BBFXUS6S","account_number":"00015738912","beneficiary_name":"Prime
        Trust as Escrow Agent for Offering 1565081501","beneficiary_address":"10890
        S Eastern Ave\nSuite 114\nHenderson, NV 89502","reference":"FATFAJ"}}'
  recorded_at: Wed, 04 Sep 2019 08:25:07 GMT
- request:
    method: delete
    uri: https://sandbox.fundamerica.com/api/investments/p0ETg1xzSwuCEZJeGd_AgQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5d6ce3af8d7b1e5f2cdf5db37cea6398"
    body:
      encoding: AS[...]
